<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="geronimo.cleaner.commands.category">
      </category>
      <command
            name="Run Geronimo Cleaner"
            categoryId="geronimo.cleaner.commands.category"
            id="geronimo.cleaner.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="geronimo.cleaner.commands.sampleCommand"
            class="geronimo.cleaner.handlers.CleanHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="geronimo.cleaner.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Custom Plugins"
               mnemonic="M"
               id="geronimo.cleaner.menus.sampleMenu">
            <command
                  commandId="geronimo.cleaner.commands.sampleCommand"
                  mnemonic="S"
                  id="geronimo.cleaner.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="geronimo.cleaner.toolbars.sampleToolbar">
            <command
                  commandId="geronimo.cleaner.commands.sampleCommand"
                  icon="icons/mrclean.png"
                  tooltip="Clean That Dirty Geronimo!"
                  id="geronimo.cleaner.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
